{% extends 'baseQuestion.html' %}

{% block title %}記述問題削除{% endblock %}
{% block h1 %}記述問題削除{% endblock %}
{% block content %}
{% include 'sqlapp/components/tab_content.html' %}

    <form method="post">
        {% csrf_token %}
        <p>No. {{ object.id }}</p>
        <p>[{{ object.question|truncatechars:40 }}]</p>
        <p>を削除してもいいですか？</p>
        <button type="submit">削除</button>
    </form>
{% endblock %}
{% load static %}
<script src="{% static 'sqlapp/js/listCreatePulldown.js' %}"></script>