{% extends 'baseQuestion.html' %}

{% block title %}記述問題修正{% endblock %}

{% block content %}
{% include 'sqlapp/components/tab_content.html' %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="修正する">
    </form>

    {% load static %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var textareas = document.querySelectorAll('textarea');
            textareas.forEach(function(textarea) {
                // valueが空白ではなく、かつ20文字以上であるかをチェック
                if (textarea.value.trim() !== '' && textarea.value.trim().length >= 20) {
                    textarea.classList.remove('form-height');
                }
                
            });
        });
    </script>
    
    <script src="{% static 'sqlapp/js/changeQuestion.js' %}"></script>
    <script src="{% static 'sqlapp/js/createQuestion.js' %}"></script>
{% endblock %}